
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Ink:wght@100..900&family=Playwrite+DK+Uloopet+Guides&display=swap');
/*
font-family: "Bitcount Ink", system-ui;
font-family: "Playwrite DK Uloopet Guides", cursive;
font-family: "Bebas Neue", sans-serif;
*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");




body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*centralizar o site*/
.container {
  width: 80%;
  margin: auto;
}
.navbar-topo {
  background-color: rgb(777, 222, 999);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 15px 40px;
  justify-content: space-between;
}

.menu-topo{
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu-topo a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu-topo a:hover{
  color: brown;
}


.conteudo {
  display: flex; /*ativa o flexbox*/

   font-family: "Bebas Neue", sans-serif;
}

.menu-lateral{
  flex: 1;
  background-color: burlywood;
  color: red;
}

.menu-lateral ul{
list-style: none;
padding: 0;
margin: 0;
}

.menu-lateral li{
  border-bottom: 1px solid salmon;
}

.menu-lateral a{
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.menu-lateral a:hover{ /*Botão que quando passa o mouse, ele muda de cor */
  background-color: bisque;
  font-family: "Bebas Neue", sans-serif;;
}

main {
  flex: 4;
  background-color: cornflowerblue;
  display: flex;
}

footer {
  background-color: crimson;
  color: blanchedalmond;
  text-align: center;
}

header,
main,
footer {
  padding: 20px;
}

main section{
    padding: 10px;
    flex: 3;
    text-align: justify;
}

main aside{
    background-color: gray;
    padding: 10px;
    flex: 1;
    margin-left: 20px;
}

header .logo{
    padding: 10px;
    width: 30%;
    margin-right: 10px;
}

header .titulo{
    background-color:chartreuse;
    padding: 20px;
    width: 70%;
}

header .logo img{
    width: 50px;
}

table{
 border-collapse: collapse;
 width: 100%;
}

td, th{
  border: 1px solid black;
}

thead{
  background-color: brown;
  color: ghostwhite;
}

thead th{
  padding: 10px;
  text-align: center;
}

td{
  padding: 5px;
}

tbody tr:nth-child(even){
  background-color: whitesmoke;
}

tbody tr:hover{
background-color: aquamarine;
}

tfoot{
  background-color: red;
  color: wheat;
  text-align: center;
}